server:
  error:
    include-stacktrace: on_param

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/anime?createDatabaseIfNotExist=true
    password: root
    username: root
  jpa:
    properties:
     hibernate:
       show_sql: true
       format_sql: true
       ddl-auto: update
